{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper" style="margin-top: 15px;">
        <ul class="breadcrumb">
            <li><a href="{{path('immo_annonce_homepage')}}">Accueil</a> <span class="divider">/</span></li>
            <li><a href="{{path('immo_notaire_profil')}}">Compte</a> <span class="divider">/</span></li>
            <li class="active">Modifier mot de passe</li>
        </ul>
        <div class="row">
            <div class="span3" style="background-color: #fff;">
                <div class="nav">
                    <div class="content">
                        <ul class="nav nav-list">
                            <li class="nav-header">MON COMPTE</li>
                            <li><a href="{{ path('immo_notaire_profil') }}" style="color: #333">Profil</a></li>
                            <li class="active"><a href="{{path('immo_notaire_changePassword')}}" style="color: #ffffff">Modifier le mot de passe</a></li>
                            <li><a href="{{ path('immo_notaire_self_annonce_archive') }}" style="color: #333">Annonces</a> </li>
                        </ul>
                    </div><!-- /.content -->
                </div>
            </div><!-- /.span3 -->
            <div class="span9" style="background-color: #fff;padding-top:10px;padding-bottom:10px;">
                <div class="content"  style="padding:20px; padding-top: 0px;">
                    <form action="{{ path('immo_notaire_changePassword') }}" method="POST"  class="form-horizontal fos_user_profile_edit">
                        {% if app.session.flashBag.has('success') %}
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {% for msg in app.session.flashBag.get('success') %}
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="form-group"><br>
                            <div class="span2">{{ form_label(form.current_password) }}</div>
                            {{ form_errors(form.current_password) }}
                            <div class="span5">{{ form_widget(form.current_password) }}</div>
                            <div class="span2">{{ form_label(form.plainPassword.first) }}</div>
                            {{ form_errors(form.plainPassword.first) }}
                            <div class="span5">{{ form_widget(form.plainPassword.first) }}</div>
                            <div class="span2">{{ form_label(form.plainPassword.second) }}</div>
                            {{ form_errors(form.plainPassword.first) }}
                            <div class="span5">{{ form_widget(form.plainPassword.second) }}</div>
                            {{ form_rest(form) }}
                            <div class="span5 offset2">
                                <div class="form-group">
                                    <div class="">
                                        <button type="submit" class="btn btn-danger">Changer le mot de passe</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.content -->
        </div><!-- /.images -->
    </div><!-- /.row -->
</div><!-- /.wrapper -->
{% endblock %}