{% extends 'base.html.twig' %}
{%block title%}
    Annuaire des notaires
{%endblock%}

{% block body %}
    <div class="wrapper" style="margin-top: 15px;">
        <div class="row">
            <div class="content span9 bg-white padding-10">
                <h2 class="page-header">Annuaire des notaires</h2>
                {%if notaires is empty%}
                    <h3><i>Aucun résultat</i></h3>
                {%else%}
                    <table id="example1" class="table table-bordered">
                        <thead>
                            <tr>

                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Siège</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            {%for notaire in notaires%}
                                {%if notaire.admin==0%}
                                    <tr>
                                        <td>{{notaire.name|upper}}</td>
                                        <td>{{notaire.username|capitalize}}</td>
                                        <td>{{notaire.ville|capitalize}}, {{notaire.siege|capitalize}}</td>
                                        <td>
                                            <a class="btn btn-info" href="{{path('fiche_notaire',{'id':notaire.id})}}">
                                                <i class="fa fa-eye"></i> Consulter la fiche
                                            </a>
                                        </td>
                                    </tr>
                                {%endif%}

                            {%endfor%}

                        </tbody>
                    </table>
                    {%if app.request.get('nom') or app.request.get('prenom') or app.request.get('ville') %}
                    
                        <a class="btn btn-warning" href="{{path('annuaire_notaire')}}" ><i class="fa fa-arrow-circle-o-left"></i> Retour vers la liste des notaires</a>
                    {%endif%}
                {%endif%}
            </div>
            {%include 'searchNotaire.html.twig'%}
            <div class="pagination pagination-centered">
                {{ knp_pagination_render(notaires) }}
            </div>
        </div>
    </div>
{%endblock%}
