{% extends 'base.html.twig' %}
{%block title%}
    Site officiel de l'Immobilier Notaire de Cote d'Ivoire
{%endblock%}
{% block body %}
    <div id="content">
        <div class="container">
            <div id="main">
                <div class="row">
                    <div class="span9">
                        <div class="">
                            <h2 class="page-header">
                                Liste des annonces immmobilières
                            </h2>
                        </div>
                        <div class="properties-rows">
                            <div class="filter">
                                <form action="?" method="get" class="form-horizontal">
                                    <div class="control-group">
                                        <label class="control-label" for="inputSortBy">
                                            Sort by
                                            <span class="form-required" title="This field is required.">*</span>
                                        </label>
                                        <div class="controls">
                                            <select id="inputSortBy">
                                                <option id="price">Price</option>
                                                <option id="published">Published</option>
                                            </select>
                                        </div><!-- /.controls -->
                                    </div><!-- /.control-group -->

                                    <div class="control-group">
                                        <label class="control-label" for="inputOrder">
                                            Order
                                            <span class="form-required" title="This field is required.">*</span>
                                        </label>
                                        <div class="controls">
                                            <select id="inputOrder">
                                                <option id="asc">ASC</option>
                                                <option id="desc">DESC</option>
                                            </select>
                                        </div><!-- /.controls -->
                                    </div><!-- /.control-group -->
                                </form>
                            </div><!-- /.filter -->
                        </div><!-- /.properties-rows -->
                        {%if annonces is not empty  %}
                            <div class="properties-rows">
                                <div class="row">
                                    {%for annonce in page %}
                                        {%if annonce is defined%}
                                            <div class="property span9">
                                                <div class="row">
                                                    <div class="image span3">
                                                        <div class="content">
                                                            <a href="{{path('immo_annonce_detail',{'annonce':annonce.id})}}"></a>
                                                            {%if annonce.media.file is empty%}
                                                                {%if annonce.media.file1 is empty%}
                                                                    {%if annonce.media.file2 is empty%}
                                                                        {%if annonce.media.file3 is empty%}
                                                                            {%if annonce.media.file4 is empty%}
                                                                                <img src="{{asset('upload/image/default.png')}}" class="thumbnail" alt="" style="width: 260px; ">

                                                                            {%endif%}
                                                                            <img src="{{asset('upload/image/')}}{{annonce.media.file4}}" class="thumbnail" alt="{{annonce.titre|capitalize}} à {{annonce.ville}},{{annonce.commune}}" style="width: 260px; " />

                                                                        {%endif%}

                                                                        <img src="{{asset('upload/image/')}}{{annonce.media.file3}}" class="thumbnail" alt="{{annonce.titre|capitalize}} à {{annonce.ville}},{{annonce.commune}}" style="width: 260px; " />
                                                                    {%endif%}

                                                                    <img src="{{asset('upload/image/')}}{{annonce.media.file2}}" class="thumbnail" alt="{{annonce.titre|capitalize}} à {{annonce.ville}},{{annonce.commune}}"style="width: 260px; " />

                                                                {%endif%}

                                                                <img src="{{asset('upload/image/')}}{{annonce.media.file1}}" class="thumbnail" alt="{{annonce.titre|capitalize}} à {{annonce.ville}},{{annonce.commune}}" style="width: 260px; " />

                                                            {%else%}

                                                                <img src="{{asset('upload/image/')}}{{annonce.media.file}}" class="thumbnail" alt="{{annonce.titre|capitalize}} à {{annonce.ville}},{{annonce.commune}}" style="width: 260px; " />

                                                            {%endif%}

                                                        </div><!-- /.content -->
                                                    </div><!-- /.image -->

                                                    <div class="body span6">
                                                        <div class="title-price row">
                                                            <div class="title span4">
                                                                <h2><a id="detail" href="{{path('immo_annonce_detail',{'annonce':annonce.id})}}">{{annonce.titre|capitalize}}</a></h2>
                                                            </div><!-- /.title -->

                                                            <div class="price">
                                                                {%if annonce.prix%}
                                                                    {{annonce.prix|number_format(0,'','.')}} Fcfa
                                                                {%endif%}
                                                            </div><!-- /.price -->
                                                        </div><!-- /.title -->

                                                        <div class="location"><i>Localisation</i>: {%if annonce.ville is empty%}none{%else%}{{annonce.ville |capitalize}}{%endif%}</div><!-- /.location -->
                                                        {%if annonce.description%}
                                                            <p>{{annonce.description}}</p>
                                                        {%else%}
                                                            <p>Etiam at ante id enim dictum posuere id vel est. Praesent at massa quis risus cursus tristique vel non orci. Phasellus ut nisi non odio</p>
                                                        {%endif%}

                                                    </div><!-- /.property -->
                                                </div>
                                            </div>
                                        {%else%}
                                            <div class="property span9">
                                                <div class="row">
                                                    <div class="image span3">
                                                        <div class="content padding-5">
                                                            <a href="#"></a>
                                                            {%if annonce.media%}
                                                                <img src="{{asset('upload/image/')}}{{annonce.media.file}}" alt="" class="thumbnail">
                                                            {%else%}
                                                                <img src="{{asset('img/terrain')}}" alt="" class="thumbnail">
                                                            {%endif%}
                                                        </div><!-- /.content -->
                                                    </div><!-- /.image -->


                                                </div><!-- /.property -->
                                            </div>
                                        {%endif%}
                                    {%endfor%}
                                </div>
                            </div>
                        {%endif%}
                        {{ knp_pagination_render(page) }}
                    </div>
                    <div class="sidebar span3 margin-top-20">
                        {%include 'search.html.twig'%}
                    </div>

                </div>
            </div>
        </div>
    </div>
{%endblock%}
