{% extends 'base.html.twig' %}
{%block title%}
    Création d'annonce
{%endblock%}
{% block body %}
    <div class="list-your-property-form">
        <h2 class="page-header">Créer votre annonce pour {{bien}}</h2>

        <div class="content">
            {{ form_start(form) }}
            <div class="row">
                <div class="span4">
                    <h2><b>1.</b> Informations générales</h2>
                    <div class="control-group">
                        <label class="control-label">
                            Titre
                            <span class="form-required" title="This field is required.">*</span>
                        </label>
                        <span class="fg-red">{{form_errors(form.annonce.titre)}}</span>
                        <div class="controls">
                            {{form_widget(form.annonce.titre)}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Type de transaction
                            <span class="form-required" title="This field is required.">*</span>
                        </label>
                        <span class="fg-red">{{form_errors(form.annonce.type_annonce)}}</span>
                        <div class="controls">
                            {{ form_widget(form.annonce.type_annonce) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Prix
                            <span class="form-required" title="This field is required.">*</span>
                        </label>
                        <span class="fg-red">{{form_errors(form.annonce.prix)}}</span>
                        <div class="controls">
                            {{ form_widget(form.annonce.prix) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Modèle
                            <span class="form-required" title="This field is required.">*</span>
                        </label>
                        <span class="fg-red">{{form_errors(form.type_local)}}</span>
                        <div class="controls">
                            {{ form_widget(form.type_local) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Disponible à partir de
                        </label>
                        <span class="fg-red">{{form_errors(form.annonce.disponibilite)}}</span>
                        <div class="controls">
                            {{form_widget(form.annonce.disponibilite)}}
                        </div>
                    </div>


                </div>
                <div class="span4">
                    <h2><b>2.</b> Details du bien</h2>
                    <div class="control-group">
                        <label class="control-label">
                            Superficie
                            (m<sup>2</sup>)
                            
                        </label>
                        <span class="fg-red">{{form_errors(form.superficie)}}</span>
                        <div class="controls">
                            {{form_widget(form.superficie)}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Ville
                            <span class="form-required" title="This field is required.">*</span>
                        </label>
                        <span class="fg-red">{{form_errors(form.annonce.ville) }}</span>
                        <div class="controls">
                            {{form_widget(form.annonce.ville,{'placeholder':'Choisir une ville','attr':{'id':'area'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Commune /Quartier
                           
                        </label>
                        <span class="fg-red">{{form_errors(form.annonce.commune)}}</span>
                        <div class="controls">
                            {{form_widget(form.annonce.commune)}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Espace habitable (m<sup>2</sup>)
                            
                        </label>
                        <span class="fg-red">{{form_errors(form.espace_habitable)}}</span>
                        <div class="controls">
                            {{form_widget(form.espace_habitable)}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Nombre de pièce
                           
                        </label>
                        <span class="fg-red">{{form_errors(form.piece)}}</span>
                        <div class="controls">
                            {{form_widget(form.piece)}}
                        </div>
                    </div>

                </div>
                <div class="span4">
                    <h2><b>3.</b> Description du bien</h2>
                    <div class="control-group">
                        <label class="control-label">
                            A propos du bien
                           
                        </label>
                        <span class="fg-red">{{form_errors(form.annonce.description)}}</span>
                        <div class="controls">
                            {{form_widget(form.annonce.description)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    <h2><b>4.</b>Caractéristiques du bien <i>(en chiffre)</i></h2>

                    <div class="control-group">
                        <label class="control-label">
                            etage
                        </label>
                        <span class="fg-red">{{form_errors(form.etage)}}</span>
                        <div class="controls">
                            {{form_widget(form.etage)}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            position à l'étage
                        </label>
                        <span class="fg-red"> {{form_errors(form.niveau_etage)}}</span>
                        <div class="controls">
                            {{form_widget(form.niveau_etage)}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Année de construction
                        </label>
                        <span class="fg-red">{{form_errors(form.annee)}}</span>
                        <div class="controls">
                            {{form_widget(form.annee)}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            meuble
                        </label>
                        <span class="fg-red">{{form_errors(form.meuble)}}</span>
                        <div class="controls">
                            {{form_widget(form.meuble,{'placeholder':'Votre local est-il meublé ?'})}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            place de parking
                        </label>
                        <span class="fg-red"> {{form_errors(form.place_parking)}}</span>
                        <div class="controls">
                            {{form_widget(form.place_parking)}}
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <h2><b>5.</b>Caractéristique spécial</h2>
                    <div class="control-group property-type">
                        {{form_widget(form.chauffe_eau)}}
                        <label class="control-label">
                            Chauffe eau
                        </label>
                    </div>
                    <div class="control-group property-type">
                        {{form_widget(form.balcon)}}
                        <label class="control-label">
                            Balcon
                        </label>
                    </div>
                    <div class="control-group property-type">
                        {{form_widget(form.cour)}}
                        <label class="control-label">
                            Cour
                        </label>
                    </div>
                    <div class="control-group property-type">
                        {{form_widget(form.piscine)}}
                        <label class="control-label">
                            Piscine
                        </label>
                    </div>
                    <div class="control-group property-type">
                        {{form_widget(form.jardin)}}
                        <label class="control-label">
                            Jardin
                        </label>
                    </div>
                    <div class="control-group property-type">
                        {{form_widget(form.garage)}}
                        <label class="control-label">
                            garage
                        </label>
                    </div>
                    <div class="control-group property-type">
                        {{form_widget(form.parking)}}
                        <label class="control-label">
                            Parking
                        </label>
                    </div>
                    <div class="control-group property-type">
                        {{form_widget(form.ascenseur)}}
                        <label class="control-label">
                            Ascenseur
                        </label>
                    </div>
                    <div class="control-group property-type">
                        {{form_widget(form.gardiennage)}}
                        <label class="control-label">
                            Gardiennage
                        </label>
                    </div>
                    <div class="control-group property-type">
                        {{form_widget(form.systeme_alarme)}}
                        <label class="control-label">
                            Système d'alarme
                        </label>
                    </div>
                    <div class="control-group property-type">
                        {{form_widget(form.vue_lagune)}}
                        <label class="control-label">
                            Vue lagune
                        </label>
                    </div>
                    <div class="control-group property-type">
                        {{form_widget(form.vue_mer)}}
                        <label class="control-label">
                            Vue mer
                        </label>
                    </div>
                    <div class="control-group property-type">
                        {{form_widget(form.interphone)}}
                        <label class="control-label">
                            Interphone
                        </label>
                    </div>
                    <div class="control-group property-type">
                        {{form_widget(form.bordure_route)}}
                        <label class="control-label">
                            Bordure route
                        </label>
                    </div>
                </div>
                <div class="span4">
                    <h2><b>6.</b>Images</h2>
                    <div >
                        <label>Photo 1</label>
                        {{ form_row(form.annonce.media.file) }}
                    </div>
                    <div class="photo2">
                        <label>Photo 2</label>
                        {{ form_row(form.annonce.media.file1) }}
                    </div>
                    <div class="photo3">
                        <label>Photo 3</label>
                        {{ form_row(form.annonce.media.file2) }}
                    </div>
                    <div class="photo4">
                        <label>Photo 4</label>
                        {{ form_row(form.annonce.media.file3) }}
                    </div>
                    <div class="photo5">
                        <label>Photo 5</label>
                        {{ form_row(form.annonce.media.file4) }}
                    </div>
                    <style>.photo2,.photo3,.photo4,.photo5{display:none;}</style>
                </div>
            </div>
            <div class="row">

                <div class="span4">
                    <h2><b>7.</b>Vos contacts</h2>
                    <div class="control-group">
                        <label class="control-label">
                            Téléphone portable
                           
                        </label>
                        <span class="fg-red">{{form_errors(form.annonce.telMobile)}}</span>
                        <div class="controls">
                            {{form_widget(form.annonce.telMobile)}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Téléphone fixe
                           
                        </label>
                        <span class="fg-red">  {{form_errors(form.annonce.telFixe)}}</span>
                        <div class="controls">
                            {{form_widget(form.annonce.telFixe)}}
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <h2><b>8.</b>Sauvegarder / Publier</h2>
                    <div class="control-group">
                        {{form_widget(form.annonce.active)}}
                        <label class="control-label">
                            Voulez-vous publiez l'annonce ?
                        </label>
                    </div>
                    <div class="control-group">
                        {{form_widget(form.annonce.affiche_contact)}}
                        <label class="control-label">
                            Voulez vous affichez vos contacts ?
                        </label>
                    </div>
                    <div class="control-group padding-top-20">
                        <div class="form-group">
                            <div class="padding-top-20">
                                <input type="submit" value="Sauvegarder / Publier l'annonce" class="btn btn-danger btn-large">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
