{%extends 'baseAdmin.html.twig'%}
{%block title%}Publicités{%endblock%}
{%block js%}
    <script type="text/javascript" src="{{asset('admin/js/plugins/tables/datatables/datatables.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('admin/js/plugins/forms/selects/select2.min.js')}}"></script>

    <script type="text/javascript" src="{{asset('admin/js/core/app.js')}}"></script>
    <script type="text/javascript" src="{{asset('admin/js/pages/datatables_basic.js')}}"></script>
{%endblock%}

{%block header%}
    <!-- Page header -->
    <div class="page-header page-header-default">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Accueil</span> - Etats des publicités</h4>
            </div>
        </div>

        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="{{path('immo_admin_homepage')}}"><i class="icon-home2 position-left"></i> Accueil</a></li>
                <li class="active">Etat des publicités</li>
            </ul>
        </div>
    </div>
{%endblock%}

{%block body%}
    {%for message in app.session.flashbag.get('info')%}
        <div class="alert alert-info">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
    {%endfor%}
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Liste des publicités</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <table class="table datatable-basic">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Titre</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {%for pub in pubs%}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td><a href="#">{{pub.name}}</a></td>

                        <td>
                            <a href="{{path('pub_edit',{'id':pub.id})}}" class="btn btn-info"><i class="fa fa-edit"></i> Modifier</a>
                        </td>
                    </tr>

                {%endfor%}
            </tbody>
        </table>
    </div>


{%endblock%}
